body{
	background-image: url("colors.jpg");
	background-position: center;
	background-size: 100% 500%;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	text-align: center;
}
 i{
 	margin-right:10%;
 }

h1{
	color: brown;
	text-align: center;
	float: left;
	font-style: serif, italic;
	padding-right: 5px;
	display: inline;
	column-count: 2;
}
.search-container{
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 

  font-size: 20px;
  padding: 5px;
  z-index: 100;
}
input{
	height: 40px;
}
button{
	border:1px solid gray;
  	border-radius:7%;
  	font-size:0.875;
  	word-wrap: break-word;
  	width: 100px; // only for IE8
  	max-width: 100%;
  	height: 40px;
}
button:hover{
	color: brown;
	background-color: #f48342;
}

.contant{
	text-align: center;
	padding-left: 32%;
	padding-right: 68%;
	padding-bottom: 0%;
	padding-top: 0%;
}
.footer{
	column-count: 2;
	clear:both;
	padding-left: 0%;
	padding-bottom: 0%;
	text-align: center;
	float: left;
}
ul{
	list-style-type:none;
}
ul li{
	float:left;
	display:inline-block;
	margin-right:10%;
}
ul li a{
	text-decoration:none;
	text-align:center;
	font-family:sans-serif;
	color:black;
}
.icons{
	padding-left:75%;
	padding-top:1%;
}
.header{
	background-color:brown;
	height:50px;
	border-radius:5px;
}
li{
	margin-top:1%;
}
p{
	font-family:sans-serif;
}
.btn-primary,.btn-info{
	margin-top:2%;
}
