body{
	background-image: url("colors.jpg");
	background-position: center;
	background-size: 100% 500%;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	text-align: center;
}
 a{
 	color: #34495E;
	text-decoration: underline;
	display: inline;
	text-align: right;
}
li{
	display: inline;
	padding-right: -90%;
	float: left;
	column-count: 3;
	column-gap: 5%;
}
.header ul {
	text-decoration: none;
	display: inline;
	text-align: right;
	padding-left: 15%;
}
nav{
  background-color: #A04000;
  height: 50px;
  border-radius: 5px;
}
nav ul{
  text-decoration-color: blue;
  list-style: none;
  margin: 0 auto;
  float: left;
  display: inline;
  text-align: center;
}
nav ul li{
  float: left;
  display: inline;
}
nav .icons{
	display: inline;
	float: left;
	color:#34495E;
	margin: 0px;
	padding-right: -50%;
	column-count: 3;
	column-gap: 5%;
}
h1{
	color: brown;
	text-align: center;
	float: left;
	font-style: serif, italic;
	padding-right: 5px;
	display: inline;
	column-count: 2;
}
.search-container{
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-size: 20px;
  padding: 5px;
  z-index: 100;
}
input{
	height: 40px;
}
button{
	border:1px solid gray;
  	border-radius:7%;
  	font-size:0.875;
  	word-wrap: break-word;
  	width: 100px; // only for IE8
  	max-width: 100%;
  	height: 40px;
}
button:hover{
	color: brown;
	background-color: #f48342;
}

.contant{
	text-align: center;
	padding-left: 32%;
	padding-right: 68%;
	padding-bottom: 0%;
	padding-top: 0%;
}
.footer{
	column-count: 2;
	clear:both;
	padding-left: 0%;
	padding-bottom: 0%;
	text-align: center;
	float: left;
}